.container {
  width: 100%;
  max-width: 770px;
  padding: 24px 0 48px 16px;
  border: 1px solid rgba(31, 31, 31, 0.5);
}
.formTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 32px;
  width: 100%;
  max-width: 700px;
}
.formTitle h1 {
  font-weight: 600;
  font-size: 18px;
}
.formTitle p {
  font-weight: 400;
  font-size: 16px;
}
