{{ 'albis-leasing-style.css' | asset_url | stylesheet_tag }}
<script src="{{ 'albis-leasing-script.js' | asset_url }}" defer="defer"></script>
<div id="shopDomain" style="visibility: hidden;">{{ shop.domain }}</div>

{% comment %} <div class="wrapper">
  <h1 class="page-title">Albis Leasing</h1>
  {% render 'albis-items-cart' %}
  {% render 'albis-calculator' %}
  {% render 'albis-installments' %}
</div> {% endcomment %}
<div id="root"></div>

{% schema %}
{
  "name": "Albis Leasing",
  "target": "section"
}
{% endschema %}

