{% comment %} {% render 'albis-request-snippet' %} {% endcomment %}


{% comment %} {{ 'albis-request-style.css' | asset_url | stylesheet_tag }}
<script src="{{ 'albis-request-script.js' | asset_url }}" defer="defer"></script>
<img src="{{ "react.svg" | asset_img_url: '15x' }}" height="25" width="25" loading="lazy">

    <div id="root"></div> {% endcomment %}


<div>EMPTY TEST</div>
{% schema %}
{
  "name": "Albis Leasing Request",
  "target": "section"
}
{% endschema %}

